<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} Pidev swap {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{asset('front-office/img/favicon.png')}}" rel="icon">
  <link href="{{asset('front-office/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 {% block css%}
  <!-- Vendor CSS Files -->
  <link href="{{asset('front-office/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('front-office/css/style.css')}}" rel="stylesheet">
{% endblock %}


{% block js %}
<!-- Vendor JS Files -->
  <script src="{{asset('front-office/vendor/aos/aos.js')}}"></script>
  <script src="{{asset('front-office/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{asset('front-office/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('front-office/js/main.js')}}"></script>
  {% endblock %}

 
</head>

<body>

{% block header %}
  
<!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
  
        <h1 class="logo"><a href="index.html">SWA<span>P</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Acceuil</a></li>
            <li><a class="nav-link scrollto" href="#about">A propos</a></li>
            <li><a class="nav-link scrollto" href="">Produits</a></li>

            <li class="dropdown"><a href="#"><span>Service</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#">Echange</a></li>
                <li><a href="#">Produit</a></li>
               
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="">Livraison</a></li>
            <li><a class="nav-link scrollto" href="#services">Réclamation</a></li>


            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <a href="#about" class="btn-get-started scrollto">compte </a>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
       <h1>Bienvenue la famille SWAP</h1><br>
    <h2>Vous trouvez tout les nouveautés chez nous .<br>Une application qui offres une large sélection<br>
       des produits avec un livraison à domicille en <br>un temps opportun .</h2>
    <a href="#about" class="btn-get-started scrollto">Voir plus </a>
        </div>
      </div>
    </section>{% endblock %}<!-- End Hero -->

<!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="section-title">
        <h2>A propos</h2>
      </div>
      <div class="container" data-aos="fade-up">
        
        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-houses-fill"></i>
              <h4 class="d-none d-lg-block">Livraison à domicille</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <i class="bi bi-cart3"></i>
              <h4 class="d-none d-lg-block">Large sélection produits</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <i class="bi bi-arrow-repeat"></i>
              <h4 class="d-none d-lg-block">Echange des produits</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <i class="bi bi-brightness-high-fill"></i>
              <h4 class="d-none d-lg-block">Bonne qualité produits</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>SWAP une application troc qui met à ces clients une large sélection des produits et des services :</h3>
                <p class="fst-italic">
                  En faite à travers notre application, tout utilisateur peut profiter de nos services tel que : 
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Mettre un produit sur site pour le vendre en ajoutant tous ces informations nécessaire pour faciliter
                  la compréhension de l'utilité du produit.</li>
                  <li><i class="ri-check-double-line"></i> Faire un échange avec un autre produit ou bien un autre service.</li>
                  <li><i class="ri-check-double-line"></i> Nous sommes à vos disposition pour faire tous réclamations et nous avons ravis de vous répondre à tous 
                  vos questions.</li>
                </ul>
                <p>
                 N'hésitez pas de mettre vos produits en vente et partagez avec nous des choses que vous souhaite l'échanger.Nous assurons que vos produits sont 
                 livrer en un temps opportun.N'oubliez pas de créer un compte pour récu tous les nouveautés. 
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="{{asset('front-office/img/im.jpg')}}" class="img-fluid" alt="">
                
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>SWAP une application troc qui met à ces clients une large sélection des produits et des services :</h3>
                
                <p class="fst-italic">
                  En faite à travers notre application, tout utilisateur peut profiter de nos services tel que : 
                </p>
            <ul>
                  <li><i class="ri-check-double-line"></i> Mettre un produit sur site pour le vendre en ajoutant tous ces informations nécessaire pour faciliter
                  la compréhension de l'utilité du produit.</li>
                  <li><i class="ri-check-double-line"></i> Faire un échange avec un autre produit ou bien un autre service.</li>
                  <li><i class="ri-check-double-line"></i> Nous sommes à vos disposition pour faire tous réclamations et nous avons ravis de vous répondre à tous 
                  vos questions.</li>
                </ul>
                <p>
                 N'hésitez pas de mettre vos produits en vente et partagez avec nous des choses que vous souhaite l'échanger.Nous assurons que vos produits sont 
                 livrer en un temps opportun.N'oubliez pas de créer un compte pour récu tous les nouveautés. 
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="{{asset('front-office/img/im.jpg')}}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>SWAP une application troc qui met à ces clients une large sélection des produits et des services :</h3>
                <p>
                  En faite à travers notre application, tout utilisateur peut profiter de nos services tel que : 
                </p>
              <ul>
                  <li><i class="ri-check-double-line"></i> Mettre un produit sur site pour le vendre en ajoutant tous ces informations nécessaire pour faciliter
                  la compréhension de l'utilité du produit.</li>
                  <li><i class="ri-check-double-line"></i> Faire un échange avec un autre produit ou bien un autre service.</li>
                  <li><i class="ri-check-double-line"></i> Nous sommes à vos disposition pour faire tous réclamations et nous avons ravis de vous répondre à tous 
                  vos questions.</li>
                </ul>
                <p>
                 N'hésitez pas de mettre vos produits en vente et partagez avec nous des choses que vous souhaite l'échanger.Nous assurons que vos produits sont 
                 livrer en un temps opportun.N'oubliez pas de créer un compte pour récu tous les nouveautés. 
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="{{asset('front-office/img/im.jpg')}}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>SWAP une application troc qui met à ces clients une large sélection des produits et des services :</h3>
               
                <p class="fst-italic">
                 En faite à travers notre application, tout utilisateur peut profiter de nos services tel que : 
                </p>
              <ul>
                  <li><i class="ri-check-double-line"></i> Mettre un produit sur site pour le vendre en ajoutant tous ces informations nécessaire pour faciliter
                  la compréhension de l'utilité du produit.</li>
                  <li><i class="ri-check-double-line"></i> Faire un échange avec un autre produit ou bien un autre service.</li>
                  <li><i class="ri-check-double-line"></i> Nous sommes à vos disposition pour faire tous réclamations et nous avons ravis de vous répondre à tous 
                  vos questions.</li>
                </ul>
                <p>
                 N'hésitez pas de mettre vos produits en vente et partagez avec nous des choses que vous souhaite l'échanger.Nous assurons que vos produits sont 
                 livrer en un temps opportun.N'oubliez pas de créer un compte pour récu tous les nouveautés. 
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="{{asset('front-office/img/im.jpg')}}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Tabs Section -->
  <main id="main">

    

    


    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reclamations</h2>
          <p> </p>
          {% block body %}
          {% endblock %}
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            
             
          </div>

          

          

         

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Produits</h2>
          <p> Voici les produits :</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-1.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="{{asset('front-office/img/portfolio/portfolio-1.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-2.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{{asset('front-office/img/portfolio/portfolio-2.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-3.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="{{asset('front-office/img/portfolio/portfolio-3.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-4.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="{{asset('front-office/img/portfolio/portfolio-4.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-5.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="{{asset('front-office/img/portfolio/portfolio-5.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-6.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="{{asset('front-office/img/portfolio/portfolio-6.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-7.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="{{asset('front-office/img/portfolio/portfolio-7.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-8.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="{{asset('front-office/img/portfolio/portfolio-8.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{{asset('front-office/img/portfolio/portfolio-9.jpg')}}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{{ asset('front-office/img/portfolio/portfolio-9.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
    <section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Livraison</h2>
      <p>Choisissez votre option de livraison :</p>
    </div>

    <div class="row">

      <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <h4>Point de relais </h4>
            <span>24 heures</span>
            <p>Retirez votre commande dans l'un de nos points de relais.</p>
           <a href="#" class="btn-get-started btn-outline">Choisir cette option</a>

          </div>
        </div>
      </div>

      <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <h4>Livraison standard</h4>
            <span>3-5 jours ouvrables</span>
            <p>Recevez votre commande en 3 à 5 jours ouvrables.</p>
          <a href="#" class="btn-get-started btn-outline">Choisir cette option</a>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

    

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p> vous pouvez nous contacter ! </p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% block footer %}
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p></p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>SWAP</h3>
            <p>
              United Coders <br>
              Esprit Ingénieur <br>
              Ariana, Tunisie <br><br>
              <strong>Téléphone:</strong> +216 55666495<br>
              <strong>Email:</strong> shop@swap.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Consulter</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acceuil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Produits </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Echange</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Consulter</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Produits</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Réclamation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Livraison</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Compte</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Réseaux Sociaux</h4>
            <p>Pour plus d'informations contactez nous à nos pages sur les réseaux sociaux :</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>SWAP</span></strong>. With LOVE 
      </div>
      
    </div>
  </footer><!-- End Footer -->
  {% endblock %}
 


</body>

</html>